@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

*{
     font-family: "Open Sans", sans-serif;
}

nav {
    background-color: black;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
}

nav div img{
    width: 200px;
}

nav div a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: capitalize;
}

.links{
    margin-top: 15px;
    display: flex;
    gap:30px;
    
}

nav div a:hover{
    color: yellow;
    border-bottom: 2px solid yellow;
}

.best_sellers div{
    background-color:rgb(248, 247, 247);
    padding: 20px;
    width: 20%;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 20px;
    transition: all ease-in-out 1s;
}

.best_sellers img{
    margin-top: -20px;
    width: 115%;
    margin-left: -20px;
    margin-right: -20px;

    border-start-start-radius:20px ;
    border-start-end-radius: 20px;
}

.best_sellers h3{
    font-weight: bold;
    color: rgb(5, 5, 206);
    text-transform: uppercase;
    font-size: 1.2rem;
}

.best_sellers p{
 color: rgb(95, 94, 94);
}

.best_sellers button{
    background-color: black;
    padding: 7px 20px;
    border-radius: 5px;
    color: white;
    border: 0px;
    font-size: 1.1rem;
    font-weight: 600;

}
#cart{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

#cart:hover{
    background-color: blue;
    color: white;
}
.best_sellers button:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.topic{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 30px;
    margin-bottom: 0px;
}

.best_sellers{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.best_sellers div:hover{
    transform: scale(1.1);
}



.categories .card{
    display: flex;
    width: 45%;
    margin-top: 20px;
    background-color:rgb(46, 46, 46) ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.categories .card div{
    margin-left: 20px;
    color: white;

}

.categories .card img{
    border-radius: 200px;
    border: 2px solid white;
}

.categories{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.categories .card:hover{
    background-color:black;
}


.trust{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.trust div img{
    width: 30px;    
    background-color: blue;
    padding: 20px;
    border-radius: 30px;
}

.trust div{
    background-color: rgb(248, 248, 248);
    padding: 30px;
    width: 20%;
    text-align: center;
    transition: all ease-in-out 1s;
    
}

.trust div:hover{
    border: 2px solid blue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
    transform: translateY(-50px);
}

#blue{
    background-color:rgb(210, 210, 248);
}

#green{
    background-color:rgb(194, 243, 205);
}

#red{
    background-color:rgb(248, 210, 210);
}
#yellow{
    background-color:rgb(248, 247, 210);
}

#green img{
    background-color: green;
}
#red img{
    background-color: red;
}
#yellow img{
    background-color: yellow;
}

#green:hover{
    border: 2px solid green;
}
#red:hover{
    border: 2px solid red;
}
#yellow:hover{
    border: 2px solid yellow;
}


.rating{
    margin-top: 30px;

}

.rating .number_rating{
    background-color: rgb(252, 252, 205);
    color: rgb(82, 63, 2);
    width: 15%;

}

.rating .number_rating img{
    width: 50px;
}

.rating .number_rating{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.rating .number_rating p{
    margin-top: -20px;
}

.rating .number_rating p img{
    width: 15px;
}

.stars div img{
    width: 20px;
    margin-top: 20px;
}

.stars .stars2{
    display: flex;
}
